// 变量名称只作标记

$sustechOrange = #ed6c00
// 主题色
$sustechGreen = #4080FF
$sustechDark = #063078
$sustechDarkText = #a9a9a9
$sustechHigh = #11eeff

$accentColor = $sustechGreen
$textColor = #1d2129
$textDarkColor = $sustechDarkText
$textHighColor = $sustechHigh
$navbarHeight = 4.5rem
$footerHeight = 18.4rem
